*{
    box-sizing: border-box;
}
section.main_width {
    width: 800px;
    margin: 0 auto;
}

header {
    background: #000;
}
header h5 {
    color: white;
    float: left;
}
header h5 span {
    color: cyan;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px;
 
}
header nav {
  float: right;
}

header section::after{
    content: "";
    clear: both;
    display: block;
}